/* App Container */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2b232300;
}

/* Counter Container */
.counter-container {
  height: 200px;
  text-align: center;
  background-color: #3d3e38;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 40px 20px 40px 40px rgba(0, 0, 0, 0.125); 
}

/* Counter Title */
.counter-container h1 {
  color: #ded1d1; 
  margin-bottom: 10px;
}

/* Subtitle */
.counter-container h4 {
  color: #817474;
  margin-bottom: 20px;
}

/* Quantity Controls */
.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Quantity Buttons */
.quantity a {
  cursor: pointer;
  text-decoration: none;
  color: #d9cbcb;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.quantity a:hover {
  background-color: #ffffff;
}

/* Quantity Input */
.quantity_input {
  width: 50px;
  margin: 0 10px;
  padding: 8px;
  border: 1px solid #403e3e; 
  border-radius: 5px;
  text-align: center;
}
